// Typography
// ==============================================

$global-font-size: 16px !default;
$global-line-height: 24px !default;
$global-font-family: Helvetica, Arial, sans-serif !default;

// Spacing
// ==============================================

$global-spacing-unit: spacing(4);
$global-spacing-unit-tiny: spacing(1);
$global-spacing-unit-small: spacing(2);
$global-spacing-unit-large: spacing(6);
$global-spacing-unit-x-large: spacing(8);

// Container
// ==============================================

$global-container-width: 1596px !default;
